<br />
<% if @user.events.empty? %>
	<h4>Not attending anything.</h4>
<% else %>
	<% if current_user && (current_user == @user) %>
		<h4>You are attending:</h4>
	<% else %>
		<h4>This user is attending:</h4>
	<% end %>
<% end %>
<br />