<% if @user.following.empty? %>
	<h3>Not following anyone.</h3>
<% else %>
	<% if current_user == @user %>
		<h3>Following :</h3>
	<% else %>
		<h3>This user is following :</h3>
	<% end %>
	<%= render :partial => 'show_following' %></br>
<% end %>