<% current_user.followers.limit(10).each do |follower| %>
	<li id="user" class="clearfix">
		<a class="user_img">
			<%= gravatar_for follower %>
		</a>
		<div class="content">
			<h3><%= link_to follower.name, follower %></h3>
			<div class="content_right">
			</div>
		</div>
	</li>
<% end %>