<ul class="recent_comments">	
	<% @user.following.limit(10).each do |followed| %>
		<li class="clearfix">
			<span class="li6">
				<%= gravatar_for followed, :size => 60 %>
			</span>
			<%= link_to followed.name, followed, :style => "padding-left: 10px;" %>
			<% if current_user == @user %>
				<%= form_for(current_user.relationships
										 .find_by_followed_id(followed),
				             :html => { :method => :delete }) do |f| %>
				<%= f.submit "Unfollow", :style => "float: left;" %>
				<% end %>
			<% end %>
		</li>
	<% end %>
</ul>