<div id="wrapper" class="clearfix">
	<div id="inner_pages" class="clearfix">
		<%#= render 'edit_breadcrumb' %>
		<br /><br />
		<div id="content" class="full_page">
			<div class="login_form_l">
				<h4>Edit Settings</h4>
				<div class="login_content"></div>
				<div class="login_form_box">
					<div class="form_row clearfix">
						<%= form_for(@user) do |f| %>
							<%= render 'edit_fields', :f => f %>
							<%= f.submit "Update", :class => "b_signin_n" %>
						<% end %>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>



