<div id="page" class="top_bg_in">
	<div id="inner_pages" class="clearfix">
		<h1>People</h1><br />
		<%#= render 'index_breadcrumb' %>
		<div id="content" class="user_content clearfix">
			<%= render 'index_sort' %>
			<ul class="category_user_list_view clearfix">
				<% if params[:list_by] == "followers" %>
					<%= render 'index_followers' %>
				<% else %>
					<%= render 'index_following' %>
				<% end %>
			</ul>
		</div>
		<%= render 'index_sidebar' %>
	</div>
</div>