The attendees of this event are:</br></br>
<% @attendees.each do |user| %>

    <li><%= link_to user.name, user %>
	<% if @event.users.include?(user) && (user == current_user) %> - 
			<%= link_to 'Decline', remove_attendee_event_path(:user_id => user.id), :method => :post %>
		
	<% end %>
	</li>
<% end %>