<div id="sidebar">
	<div class="widget recent_comments_section">
		<h3>My Upcoming Events</h3>
		<ul class="recent comments">
			<% @upcoming_events.each do |event| %>
				<%= render 'shared/event_small', :event => event %>
			<% end %>
		</ul>
	</div>
	<div id="map_canvas" style="width: 294px; height: 370px; position: relative; margin-bottom: 30px;">
		<% if @events.count <= 1 %>
			<%= gmaps({ map_options: {
							auto_zoom: false,
							zoom: 14,
							id: "map_canvas" },
						markers: { data: @json } }) %>
		<% else %>
			<%= gmaps({ map_options: {
							auto_zoom: true,
							id: "map_canvas" },
						markers: { data: @json } }) %>
		<% end %>
	</div>
</div>