<div id="sidebar">
	<div class="widget">
		<h3>
			<span>Something will definitely go here</span>
		</h3>
		<div class="textwidget">
			<p>
				Something needs to go here. It will probably be an explanation of some sort, or maybe not. Maybe it should be. Maybe not. This is an event. Events are very fun.
			</p>
			<p>
				Oh hey, why don't you check out the <a>homepage</a>.
		</div>
	</div>
	<div class="widget">
		<h3>
			<span>Something will definitely go here</span>
		</h3>
		<div class="textwidget">
			<p>
				Something needs to go here. It will probably be an explanation of some sort, or maybe not. Maybe it should be. Maybe not. This is an event. Events are very fun.
			</p>
			<p>
				Oh hey, why don't you check out the <a>homepage</a>.
		</div>
	</div>
</div>