<div id="sidebar">
	<div id="map_canvas" style="width: 294px; height: 370px; position: relative">
		<%#= gmaps({ map_options: {
						zoom: 8,
						auto_zoom: false },
					markers: { data: @json } }) %>
	</div>
</div>