<div id="wrapper" class="clearfix">
	<div id="inner_pages" class="clearfix">
		<h1>Edit Event</h1>
		<div id="content" class="content_inner">
			<p class="note ">
				<span class="required">*</span>
				Indicates mandatory fields
			<p>
			<h5 class="form_title spacer_none">Edit Event Details</h5>
			<%= form_for @event, :html => { :multipart => true } do |f| %>
				<%= render 'fields', :f => f %>
				<%= f.submit "Update Event", :class => "b_review" %>
			<% end %>
		</div>
	</div>
</div>



