<div id="page" class="top_bg_in">
	<div id="inner_pages" class="clearfix">
		<h1>Event Stream</h1><br />
		<div id="content" class="content_index clearfix">
			<% if params[:search].blank? %>
				<% if @events.empty? %>
					Try following someone to get event suggestions. How about <%= link_to "Matt", @matt %>?
				<% end %>
			<% else %>
				<h3>Search results: </h3><br /><br />
			<% end %>
			<ul class="category_list_view clearfix">
				<% @events.each do |event| %>
					<%= render 'shared/event', :event => event %>
				<% end %>
			</ul>
		</div>
		<%= render 'index_sidebar' %>
	</div>
</div>