<div id="page" class="top_bg_in">
	<div id="inner_pages" class="clearfix">
		<h1>Event Stream</h1><br />
		<%#= render 'index_breadcrumb' %>
		<div id="content" class="content_index clearfix">
			<% if params[:search].blank? %>
				<%#= render 'index_sort' %>
			<% else %>
				<h3>Search results: </h3><br /><br />
			<% end %>
			<ul class="category_list_view clearfix">
				<%= render @events %>
			</ul>
		</div>
		<%= render 'index_sidebar' %>
	</div>
</div>