<h1>All Events</h1>

<% if current_user.admin? %>
	<%= button_to "Create Event", create_event_path %>
<% end %>

<%= will_paginate %>

<ul class="users">
	<%= render @events %>
</ul>

<%= will_paginate %>