<div id="wrapper" class="clearfix">
	<div id="inner_pages" class="clearfix">
		<h1>Create Event</h1>
		<div class="breadcrumb clearfix">
			<div class="breadcrumb_in">Home » Add Event</div>
		</div>
		<div id="content" class="content_inner">
			<%= form_for @event, :html => { :multipart => true } do |f| %>
				<%= render 'fields', :f => f %>
				<div class="actions">
					<%= f.submit "Create" %>
				</div>
			<% end %>
		</div>
	</div>
</div>