<div id="wrapper" class="clearfix">
	<div id="inner_pages" class="clearfix">
		<h1>Create Event</h1>
		<div class="breadcrumb clearfix">
			<div class="breadcrumb_in">Home » Add Event</div>
		</div>
		<div id="content" class="content_inner">
			<p class="note ">
				<span class="required">*</span>
				Indicates mandatory fields
			<p>
			<h5 class="form_title spacer_none">Enter Event Details</h5>
			<%= form_for @event, :html => { :multipart => true } do |f| %>
				<%= render 'fields', :f => f %>
				<div class="actions">
					<%= f.submit "Create Event", :class => "b_review" %>
				</div>
			<% end %>
		</div>
		<%= render 'new_sidebar' %>
	</div>
</div>