<div id="page" class="top_bg_in">
	<div id="inner_pages" class="clearfix">
		<h1><%= @event.name %></h1>
		<%= render 'show_breadcrumb' %>
		<%= render 'show_content' %>
		<%= render 'show_sidebar' %>
	</div>
</div>