<div id="page" class="top_bg_in">
	<div id="inner_pages" class="clearfix">
		<h1><%= @event.name %></h1>
		<div class="breadcrumb clearfix">
			<div class="breadcrumb_in">Home » Events » <%= @event.name %></div>
		</div>
		<%= render 'show_content' %>
		<%= render 'show_sidebar' %>
	</div>
</div>