<% @event_feed.each do |event| %>
<li><%= link_to event.name, event %> | <%= event.formatted_date %> |
	<% event.users.each do |user| %>
		<% if current_user == user %>
			You
		<% end %>
		<% if current_user.following?(user) %>
			<%= link_to user.name, user %>
		<% end %>
	<% end %></li>
<% end %>