<div id="sidebar">
	<div class="widget recent_comments_section">
		<h3> Recent Activity </h3>
		<ul class="recent_comments">
			<li class="clearfix">testing</li>
			<li class="clearfix">testing again</li>
		</ul>
	</div>
</div>