<h1>Event Feed</h1>
<% if !signed_in? %>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% else %>
	<ul class="users">
		<%= render 'parsed_event_feed' %>
	</ul>	
<% end %>